.admin-dashboard .main-content::-webkit-scrollbar {
  display: none;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input .search-icon {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: rgba(46, 168, 219, 0.15);
  margin-left: 9px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.search-input .search-icon.disabled {
  opacity: 0.7;
}

.search-input .search-icon svg {
  width: 15px;
  height: 15px;
}

.admin-dashboard .main-content .title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.admin-dashboard .main-content .title .title-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.search-input .search-icon {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: rgba(46, 168, 219, 0.15);
  margin-left: 9px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.search-input .search-icon.disabled {
  opacity: 0.7;
}

.search-input .search-icon svg {
  width: 15px;
  height: 15px;
}

.client_logo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.poc-title {
  font-family: "Poppins";
  font-style: normal;
  padding: 18px 22px 0;
}

.poc-title h2 {
  font-size: 19px;
  font-weight: 800;
}

.poc-title p {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.8;
}

.POC_card h1 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.POC_card p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  opacity: 0.7;
}

.POC_card span {
  font-weight: 600;
  opacity: 1;
}

.right_align {
  text-align: right;
}

.multi_chip_container {
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-start;
  gap: 3px;
}

.multi_chip_container div {
  /* border: 1px solid #ddd; */
  background-color: #dedeff;
}

.chip_heading {
  border-radius: 15px 15px 15px 15px;
  /* width: 60%; */
  display: flex;
  justify-content: center;
  padding: 2px 9px 2px 9px;
}

.chip_quantity_circle {
  border-radius: 50%;
  width: 20px;
  cursor: pointer;
  padding: 2px;
}

.assessor_details_modal {
  color: #00b2ff;
  cursor: pointer;
  /* text-decoration: underline; */
}

.assessor_photo_container img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.inner_container_assessorModal {
  /* border: 1px solid green; */
  width: 100%;
}

.modal_row {
  display: flex;
}

.bold_text {
  font-size: 13px !important;
  display: block;
  width: 60%;
  font-weight: 500;
  line-height: 1.4;
  color: #292d32;
}

.grey_text {
  font-size: 13px !important;
  display: block;
  width: 40%;
  line-height: 1.4;
  text-align: left;
  color: #707070;
}

.heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_icon {
  cursor: pointer;
  padding-right: 20px;
}

.extension_text a:link {
  color: #00b2ff;
  text-decoration: underline;
}

.extension_text a:hover {
  color: #00b2ff;
  text-decoration: none;
}

.card_divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.title_container {
  display: flex;
  justify-content: space-between !important;
  width: 100% !important;
}

.title_container h1 {
  padding-top: 8px;
}
