.mob-get-started {
    display: none !important;
  }
  @media (max-width: 1200px) {
    .login-container .login-banner {
      display: none;
    }
    .mob-get-started {
      display: block !important;
      text-align: center;
    }
    .mob-get-started p {
      display: block !important;
      text-align: center;
      margin-bottom: 20px;
    }
    .mob-get-started button {
      display: block !important;
      width: 100% !important;
    }
    .desktop-get-started {
      display: none !important;
    }
  }
  