.admin-dashboard .main-content::-webkit-scrollbar {
  display: none;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input .search-icon {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: rgba(46, 168, 219, 0.15);
  margin-left: 9px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.search-input .search-icon.disabled {
  opacity: 0.7;
}

.search-input .search-icon svg {
  width: 15px;
  height: 15px;
}

.admin-dashboard .main-content .title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.admin-dashboard .main-content .title .title-btn {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  flex-wrap: wrap;
}

.search-input .search-icon {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: rgba(46, 168, 219, 0.15);
  margin-left: 9px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.search-input .search-icon.disabled {
  opacity: 0.7;
}

.search-input .search-icon svg {
  width: 15px;
  height: 15px;
}

.multipleName-chips-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chips-box-error {
  color: #d70000;
}

.sub_sections {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* border: 1px solid blue; */
}

.view_question_wrapper span {
  display: inline-block;
  transition: background-color 0.3s, color 0.3s, content 0.3s;
  /* transition: transform 0.3s ease-in-out; */
  padding: 2px;
}

.view_question_wrapper span:hover {
  /* transform: scale(1.1); */
  background-color: #9ad7f1;
  color: #ffffff;
  content: "New Text";
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}