.main_container {
  display: flex;
  flex-direction: column; 
  width: 100%;
  background-color: #fff;
  padding: 15px 18px;
  border-radius: 20px;
  margin-top: 20px;
  overflow: auto;
  scrollbar-width: none;
  box-sizing: border-box;

  & .details_section {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* height: 160px; */
    width: 100%;

    & .profile_pic {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 20%;
      overflow: hidden;
      cursor: pointer;
      border: solid 0.5px #929292;

      & img {
        height: 100%;
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
      }

      & .upload_icon {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: white;
        cursor: pointer;

        & .upload_icon svg {
          width: 24px;
          height: 24px;
        }
      }
      & .delete_icon{
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: white;
        cursor: pointer;
      }
    }

    & .profile_description {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
      width: 90%;
      height: 150px;
      box-sizing: border-box;

      & .name_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        & h3 {
          font-family: "poppins";
          font-size: 16px;
          font-weight: 600;
          color: #000000;
        }
      }

      & hr {
        width: 100%;
        border: solid lightgray 1px; 
      }

      & .designation_bedge {
        position: absolute;
        top: 30px;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        /* width: 50%; */
        width: auto;

        & .details_group {
          display: flex;
          justify-content: space-between;
          gap: 5px;
          justify-items: center;
          align-items: center;

          & p {
            font-size: 12px;
            color: #000000;
            font-family: "poppins";
          }
        }
      }

      & .roles_details {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;
        justify-items: center;
        position: absolute;
        top: 68px;

        & .role_items {
          display: flex;
          justify-content: flex-start;
          gap: 10px;
          flex-direction: column;

          & .reporting_manager {
            display: flex;
            justify-items: space-between;
            gap: 10px;
            align-items: center;

            & img {
              border-radius: 50%;
              height: 20px;
              width: 20px;
            }
          }

          & p {
            font-size: 12px;
            font-family: "poppins";
            color: #000000;
          }
          & h6 {
            font-size: 12px;
            font-family: "poppins";
            color: #929292;
          }
        }
      }
    }
  }
}

.main_container::-webkit-scrollbar {
  display: none;
}

.card-list-wrapper .MuiBox-root {
  padding: 0 !important;
}

.MuiPaper-root {
  width: 100%;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #ffffff;
  width: calc(50% - 10px);
  box-sizing: border-box;
  height: auto;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.edit-btn {
  border: none;
  background: none;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
}

.edit-btn:hover {
  text-decoration: underline;
}

hr {
  border: solid #e0e0e0 0.5px;
  width: 100%;
  margin: 8px 0;
}

.card-body {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.update-btn {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: baseline; 
}

.content-row-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: max-content;
}

.content-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: self-start;
  width: 48%;
  gap: 10px;
  box-sizing: border-box;

  & strong {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    font-style: normal;
  }

  & .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.content-label {
  font-size: 14px;
  color: #888888;
}

.content-value {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  width: 100%;
}

.address-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: self-start;
  width: 100%;
  box-sizing: border-box;
  gap: 84px;
}

.same-as-current {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;
}

.device-card-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 2px;
}

.device-card-wrapper .container {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px 16px;
  background-color: #ffffff;
  width: calc(50% - 10px);
  height: 330px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.device-card-wrapper .container .psw-update-btn {
  background-color: #47aedb;
  padding: 4px 10px;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.device-card-wrapper .container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.device-card-wrapper .container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

.device-card-wrapper .container::-webkit-scrollbar-thumb {
  background: #69afec;
  border-radius: 8px;
  border: 2px solid #f0f0f0;
}

.device-card-wrapper .container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.device-card-wrapper .container::-webkit-scrollbar-corner {
  background: #f0f0f0;
}

.device-card-wrapper .container .scrollable-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.device-card-wrapper .container .scrollable-content hr {
  border: solid 1;
  width: 100%;
  background: #e0e0e0;
  margin: 8px 0;
}

.device-card-wrapper .container .sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  height: 52px;
  margin-bottom: 22px;
  box-sizing: border-box;
}

.device-card-wrapper .container h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
  margin: 0;
  padding: 8px 0;
}

.device-card-wrapper .container .device-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.device-card-wrapper .container .device-content .status-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
}

.device-card-wrapper .container .device-content .status-container .device-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.device-card-wrapper .container .device-content .status-container .device-info .device-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.device-card-wrapper .container .device-content .status-container .device-info .device-name h5 {
  font-family: "poppins";
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.device-card-wrapper .container .device-content .status-container .device-info .device-name .status-bull-active,
.device-card-wrapper .container .device-content .status-container .device-info .device-name .status-active {
  color: #1bbb57;
  font-weight: 500;
  font-size: 15px;
}

.device-card-wrapper .container .device-content .status-container .device-info .device-name .status-bull-inactive,
.device-card-wrapper .container .device-content .status-container .device-info .device-name .status-inactive {
  color: #f62323;
  font-weight: 500;
  font-size: 15px;
}

.device-card-wrapper .container .device-content .status-container .device-info .device-sub-title {
  color: #c1c1c1;
  font-family: "poppins";
  font-size: 12px;
  font-weight: 400;
  display: flex;
  gap: 10px;
  align-items: center;
}

.device-card-wrapper .container .device-content .log-out-btn button {
  background-color: #e0e0e0;
  border: solid #e0e0e0 1px;
  padding: 5px 0px;
  border-radius: 18px;
  width: 82px;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "poppins";
  color: black;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.device-card-wrapper .container .device-content .log-out-btn button:hover {
  background-color: #cfcfcf;
  color: #000;
}

.device-card-wrapper .container .device-content .log-out-btn button:focus {
  outline: 2px solid #1bbb57;
  outline-offset: 2px;
}


@media (max-width: 768px) {
  .card {
    width: calc(100% - 10px);
  }
  .content-row-group {
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
  }
}
