.ToolTipNCEVT {
    font-family: sans-serif;
    padding: 16px 16px 128px;
  }
  
  .example-wrapper {
    padding: 16px 120px;
  }
  
  .example-emoji {
    font-size: 64px;
    width: 64px;
    height: 64px;
  }
  