.comments-modal-listitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
    flex-direction: column;
}

.comments-modal-profile-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.comments-modal-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.comments-modal-profile-title{
    display: flex;
    gap: 10px;
    > h1 {
        color: #000000;
        font-weight: 500;
    }
    > span {
        color: rgba(38, 38, 38, 0.5);
    }
}